<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}


{% load custom_filters %}


{% block title %}
News
{% endblock title %}


{% block content %}
<h1>◄ ALL PUBLICATIONS ►</h1>
<h6><i>You see {{ news|length }} out of {{ paginator.count }} publications on our News Portal </i></h6>

<hr>

    {% if perms.news.add_post %}
    <a href="{% url 'news_create' %}">Add new publication</a>
    {% endif %}

{% if news %}
    <table>
           <tr>
               <td>Type of publication</td>
               <td>Title</td>
               <td>Date of publication</td>
               <td>Content</td>

                {% if perms.news.change_post or perms.news.delete_post %}
                <td>Actions</td>
                {% endif %}
           </tr>

           {% for new in news %}
           <tr>
               <td>{{ new.get_publication_display }}</td>
               <td>
                   <a class="nav-link" href="{% url 'new_detail' new.id %}">{{ new.title }}</a>
               </td>
               <td>{{ new.date_creation|date:'d M Y' }}</td>
               <td>{{ new.text|truncatewords:20|censor }}</td>
               <td>
                    {% if perms.news.change_post %}
                    <a href="{% url 'new_edit' pk=new.id %}">Change</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'new_delete' new.id %}">Delete</a>
                    {% endif %}
                </td>
           </tr>
           {% endfor %}

       </table>
{% else %}
    <h2>There's no publications!</h2>
   {% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}