{% extends 'flatpages/default.html' %}


{% load custom_filters %}


{% block title %}
Search
{% endblock title %}


{% block content %}
<h1>◄ SEARCHING FOR PUBLICATIONS ►</h1>
<h6><i>You see {{ news|length }} out of {{ paginator.count }} publications on our News Portal </i></h6>
<hr>
<form action="" method="get">
   {{ filterset.form.as_p }}
   <input type="submit" value="Search" />
</form>
{% if news %}
    <table>
           <tr>
               <td>Type of publication</td>
               <td>Title</td>
               <td>Date of publication</td>
               <td>Content</td>
           </tr>

           {% for new in news %}
           <tr>
               <td>{{ new.publication }}</td>
               <td>{{ new.title|censor }}</td>
               <td>{{ new.date_creation|date:'d M Y' }}</td>
               <td>{{ new.text|truncatewords:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
{% else %}
    <h2>There's no publications!</h2>
   {% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}